<ion-header>
  <ion-navbar>
    <ion-title>Tarefas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal('create')">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <div class="alert alert-info" *ngIf="tasks.length == 0">
      <strong>Nao existem tarefas, adiciona uma.</strong>
    </div>

    <ion-item-sliding text-wrap *ngFor="let task of tasks; let i = index">
      <ion-item>
        <ion-checkbox checked="task.state"></ion-checkbox>
        <ion-label>{{task.text}}</ion-label>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteTask(i)"><ion-icon name="trash"></ion-icon> Apagar</button>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button (click)="editTask(i, task.text)"><ion-icon name="create"></ion-icon>Editar</button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
